<%- include('cabecera', {}); %>

<body onload="actualizarReloj()">
    <%- include('navegacion', {});  %>

    <% 
    // Se busca el identificador de la pelicula en el listado para obtener los datos. 
    var detallesPelicula;
    for (let pelicula of parametrosComunes['listaPeliculas']) {
        if (pelicula['_id'].toString()==idPelicula){
            detallesPelicula = pelicula;
            break;
        }
    }
    %>
    <!--  -->    
    <main>
        <div class="pelicula row">
            <div class="row">
                <div class="pelicula_detalles col-8 col-print-9">
                    <div class="row">
                        <div class="pelicula_dato_key col">Título</div>
                        <div class="pelicula_dato_value col"><%= detallesPelicula['titulo'] %></div>
                    </div>
                    <div class="row">
                        <div class="pelicula_dato_key col">Año</div>
                        <div class="pelicula_dato_value col"><%= detallesPelicula['anio'] %></div>
                    </div>
                    <div class="row">
                        <div class="pelicula_dato_key col">Director</div>
                        <div class="pelicula_dato_value col"><%= detallesPelicula['director'] %></div>
                    </div>
                    <div class="row">
                        <div class="pelicula_dato_key col">Género</div>
                        <div class="pelicula_dato_value col"><%= detallesPelicula['genero'] %></div>
                    </div>
                    <div class="row">
                        <div class="pelicula_dato_key col">Premios en ediciones anteriores</div>
                        <div class="pelicula_dato_value col">
                            SIN HACER TODAVIA
                            <table>
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2024</td>
                                        <td>Mejor banda sonora</td>
                                    </tr>
                                    <tr>
                                        <td>2024</td>
                                        <td>Mejor guión</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" onclick="window.print();">Imprimir</button>
                    </div>

                </div>
                <div class="pelicula_cartelera col-4 col-print-3">
                    <img src="<%= detallesPelicula['imagen'] %>" class="cartelera" alt="<%= detallesPelicula['titulo'] %>">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <section>
                        <h2>Sinopsis</h2>
                        <p><%= detallesPelicula['sinopsis'] %></p>
                    </section>
                </div>
            </div>
        </div>

    </main>

    <%- include('footer', {}); %>
</body>

</html>