<%- include('cabecera', {}); %>

<body onload="actualizarReloj()">
    <%- include('navegacion', {}); %>
    <!--  -->
    <main>
        <section>
            <header>
                <h2>
                    Películas participantes
                </h2>
            </header>
            <div class="row container-peliculas">
                <% for (let pelicula of parametrosComunes['listaPeliculas']) { %>
                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <div class="card text-center pt-2">
                            <a href="/pelicula/<%= pelicula['_id'] %>"><img src="<%= pelicula['imagen'] %>" class="card-img-top" alt=""></a>
                            <div class="card-body">
                                <p><%= pelicula['titulo'] %></p>
                                <a href="/pelicula/<%= pelicula['_id'] %>" class="btn btn-sm btn-primary">Ver detalles</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>

        </section>

    

    </main>

    <%- include('footer', {}); %>
</body>

</html>