<%- include('cabecera', {}); %>

<body onload="actualizarReloj()">
    <%- include('navegacion', {}); %>
    <!--  -->
    <!-- Banner -->
    <header class="banner-container">
        <img src="/banner.avif" class="banner-image" alt="">
        <div class="banner-text">
            <h1><strong>FESTIVAL INTERNACIONAL DE CINE INDEPENDIENTE</strong></h1>
            <h2>Curso 2024-2025</h2>
        </div>
    </header>

    <!--  -->
    <main class="container-fluid">
        <section>
            <header>
                <h2>Películas destacadas</h2>
            </header>
            <div id="carouselPeliculas" class="carousel slide" data-bs-theme="dark">

                <div class="carousel-inner text-center">
                <% 
                    var primeraPelicula = true;
                    for (let pelicula of parametrosComunes['listaPeliculas']) { %>
                        <div class="carousel-item <% if (primeraPelicula==true){ %> active<% primeraPelicula=false; }%>">
                            <a href="/pelicula/<%= pelicula['_id'] %>"><img src="<%= pelicula['imagen'] %>" class="cartelera" alt=""></a>
                            <div class="carousel-caption">
                                <p><%= pelicula['titulo'] %></p>
                            </div>
                        </div>                   
                    <%} %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselPeliculas" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselPeliculas" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
              </div>
        </section>
        <section>
            <header>
                <h2>Propósito</h2>
            </header>
            <p>El Festival Internacional de Cine Independiente nace como una iniciativa de la <abbr title="Universidad Isabel I">UI1</abbr> como práctica para la asignatura de aplicaciones y servicios web</p>
            <p>Todos los premios han sido inventados y la información de las películas, incluyendo la imagen de la cartelera, obtenidas de <a href="http://filmaffinity.com">filmaffinity.com</a> </p>
        </section>
        <section>
            <header>
                <h2>Noticias</h2>
            </header>
            <div class="container-noticias row">
                <%
                for (let noticia of noticias) { %>
                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <article>
                        <header>
                            <img src="<%=noticia['imagen']%>" alt="">
                            <h5>
                                <%=noticia['titulo']%>
                            </h5>
                        </header>
                        <button class="btn btn-sm btn-primary"  data-bs-target="#collapse-<%=noticia['_id']%>" data-bs-toggle="collapse">leer más</button>
                        <p class="collapse" id="collapse-<%=noticia['_id']%>">
                            <%=noticia['texto']%>
                        </p>
                        <address class="author"><a rel="author" href="<%=noticia['url']%>"><%=noticia['origen']%></a> - <time datetime="<%=noticia['fecha']%>"><%=noticia['fecha'].toLocaleDateString()%></time></address> 
                    </article>
                </div>
                <% } %>
            </div>

        </section>
        <section>
            <header>
                <h2>Patrocinadores</h2>
                <div class="patrocinadores">
                    <div>
                        <a href="https://www.ui1.es/"><img src="https://www.ui1.es/sites/all/themes/custom/ui1_theme/images/logo_web_desktop.svg" alt="logo_ui1"></a>
                    </div>
                    <div>
                        <a href="https://www.filmaffinity.com/es"><img src="https://www.filmaffinity.com/images/logo4.png" alt="logo_filmaffinity" style="background-color:#447CAD;"></a>
                    </div>
                    <div>
                        <a href="https://www.fotogramas.es/noticias-cine/"><img src="https://www.fotogramas.es/_assets/design-tokens/fotogramas/static/images/logos/logo.11267eb.svg?primary=%2523ffffff" alt="logo_fotogramas" style="background-color:black;"></a>
                    </div>
                    <div>
                        <a href="https://www.fotogramas.es/noticias-cine/"><img src="https://assets.sensacine.com/skin/img/sensacine/logo-main.71eda1dd.svg" alt="logo_sensacine" style="background-color:#fecc00;"></a>
                    </div>
                </div>
            </header>
        </section>
    </main>
    <%- include('footer', {}); %>
</body>


</html>